{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> profil{%endblock %}

{% block body %}

  {% block fos_user_content %}
      {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
  {% endblock fos_user_content %}
{% endblock %}
