{% trans_default_domain 'FOSUserBundle' %}

<div class="well fos_user_user_show">

    <p><b>{{ 'profile.show.username'|trans }}</b>: {{ user.username }}</p>
    <p><b>{{ 'profile.show.email'|trans }}</b>: {{ user.email }}</p>
    <p><b>{{ 'Prenom'|trans }}</b>: {{ user.firstName }}</p>
    <p><b>{{ 'Nom'|trans }}</b>: {{ user.lastName }}</p>
    <p><b>{{ 'Role'|trans }}</b>: 	{% if is_granted('ROLE_ADMIN') %}
    											Administrateur
											{% elseif is_granted('ROLE_USER') %}
											    Utilisateur
											{% elseif is_granted('ROLE_SUPER_ADMIN')%}
											    Super Admin
                      {% else %}
											    Inconnu
											{% endif %}</p>
    <p><b>{{ 'Date de dernière connexion'|trans }}</b>: {{ user.lastLogin |date('d/M/Y H:i:s')}}</p>
    <p><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Modifier mon profil </a></p>
    <p><a href="{{ path('fos_user_change_password') }}" class="btn btn-warning" alt="Modifier mot de passe"> Modifier mot de passe</a></p>

    
      <div class="panel panel-default">
        {{dump(user)}}
      </div>

</div>
