{% extends 'base.html.twig' %}

{% block title %}{{parent()}} > edit atom{%endblock %}

{% block body %}
  <section class="col-sm-12">

  	<h3>Editing an atom</h3>

  	{# include("inc/atom.form.html.twig") #}
    {{form(form)}}
  </section>

{% endblock %}
