{% extends 'base.html.twig' %}

{% block title %}List of atoms{%endblock %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Atoms</h1>
            </div>
            <a href="{{ path('chemical_atom_add') }}" class="btn btn-info navbar-right" {% if not is_granted('ROLE_ADMIN') %} disabled title="Admins' right access"{% endif %}><i class="glyphicon glyphicon-plus"></i> Add an atom</a><br/><br/>
            {% if atoms is not empty %}
                <div class="alert alert-info" role="alert">
                    <p>Number of atoms created : <span class="badge">{{ atoms | length }}</span></p>
                </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chemical Name</th>
                        <th>Formula</th>
                        <th>operations</th>
                    </tr>
                </thead>
                <tbody>
                {% for atom in atoms %}
                    <tr>
                        <td>{{ atom.name }}</td>
                        <td>{{ atom.element.name }}</td>
                        <td>{{ atom.element.formula }}</td>
                        <td>
                            <a href=" {{path('chemical_atom_see', {'id': atom.id}) }}" alt="see" class="btn">
      						            <i class="glyphicon glyphicon-eye-open"></i></a>

                    					{% if is_granted('ROLE_ADMIN') %}
                		      			<a href="{{ path('chemical_atom_edit', {'id': atom.id}) }}" alt="edit" class="btn">
                      						<i class="glyphicon glyphicon-edit"></i></a>
                   				      	<a href="{{ path('chemical_atom_delete', {'id': atom.id}) }}" alt="delete" class="btn btn-danger">
                      						<i class="glyphicon glyphicon-trash"></i></a>
                      				{%endif%}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>There is no atom in the database.</p>
            {% endif %}
        </div>
      {{ include("part/pagination.html.twig") }}
    </div>
{% endblock %}
