{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> Atom{%endblock %}

{% block body %}
  <section class="col-sm-12">

	  <h3>Create new atom</h3>

    {# include("inc/atom.form.html.twig") #}
    {{form(form)}}
  </section>

{% endblock %}
