{% extends 'base.html.twig' %}

{% block title %}Liste des élements chimiques > delete atom{%endblock %}

{% block body %}
<section class="col-sm-12">

	<h3>Suppression d'un atome</h3>

		<p>
	    		Etes-vous certain de vouloir supprimer l'atome "{{ atom.name }}" ?
		</p>

		  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
		  <form action="{{ path('chemical_atom_delete', {'id': atom.id}) }}" method="post">
			    <a href="{{ path('chemical_atom_see', {'id': atom.id}) }}" class="btn btn-default">
					<i class="glyphicon glyphicon-chevron-left"></i>
					voir cet atome
			    </a>
			    {# Ici j'ai écrit le bouton de soumission à la main #}
			    <input type="submit" value="Supprimer" class="btn btn-danger" />
			    {# Ceci va générer le champ CSRF #}
			    {{ form_rest(form) }}
		  </form>

   </section>

{% endblock %}
