{% extends 'base.html.twig' %}

{% block title %}Liste des élements chimiques{%endblock %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Elements</h1>
            </div>
            <a href="{{ path('chemical_element_add') }}" class="btn btn-info navbar-right" {% if not is_granted('ROLE_ADMIN') %} disabled title="Admins' right access"{% endif %}><i class="glyphicon glyphicon-plus"></i> Add an element</a><br/><br/>
            {% if elements is not empty %}
                <div class="alert alert-info" role="alert">
                    <p>Number of elements in database : <span class="badge">{{ elements | length }}</span></p>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Formula</th>
                            <th>operations</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for element in elements %}
                        <tr>
                            <td>{{ element.name }}</td>
                            <td>{{ element.formula }}</td>
                            <td>
                                <a href=" {{path('chemical_element_see', {'id': element.id}) }}" alt="see" class="btn">
          						            <i class="glyphicon glyphicon-eye-open"></i></a>

                        					{% if is_granted('ROLE_ADMIN') %}
                    		      			<a href="{{ path('chemical_element_edit', {'id': element.id}) }}" alt="edit" class="btn">
                          						<i class="glyphicon glyphicon-edit"></i></a>
                       				      	<a href="{{ path('chemical_element_delete', {'id': element.id}) }}" alt="delete" class="btn btn-danger">
                          						<i class="glyphicon glyphicon-trash"></i></a>
                          				{%endif%}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There is no element in the database.</p>
            {% endif %}
        </div>
      {{ include("part/pagination.html.twig") }}
    </div>
{% endblock %}
