{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> Element{%endblock %}

{% block body %}
  <section class="col-sm-12">

	  <h3>Create new Element</h3>

    {{ include("inc/element.form.html.twig") }}
    {#form(form)#}
  </section>

{% endblock %}
