{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> Element{%endblock %}

{% block body %}
<section class="col-sm-12">
  <div class="panel panel-default">
    {{dump(element)}}
	</div>
{% endblock %}
