{% extends 'base.html.twig' %}

{% block title %}{{parent()}} > edit element{%endblock %}

{% block body %}
  <section class="col-sm-12">

  	<h3>Editing an element</h3>
    
  	{{ include("inc/element.form.html.twig") }}

  </section>

{% endblock %}
