{% extends 'base.html.twig' %}

{% block title %}{{parent()}} > edit molecule{%endblock %}

{% block body %}
  <section class="col-sm-12">

  	<h3>Editing an molecule</h3>

  	{{ include("inc/molecule.form.html.twig") }}
    {#form(form)#}
  </section>

{% endblock %}
