{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> molecule{%endblock %}

{% block body %}
  <section class="col-sm-12">

	  <h3>Create new molecule</h3>

    {# include("inc/molecule.form.html.twig") #}
    {#form(form)#}
    Pour créer une molécule, j'utilise l'url /admin/molecule/load.
  </section>

{% endblock %}
