{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> Molecule{%endblock %}

{% block body %}

<section class="col-sm-12">
  <div class="panel panel-default">
    {{dump(molecule)}}
	</div>
{% endblock %}
