<footer>
    <p>© Copyright {{ 'now'|date('Y') }} Abdoulaye DIALLO <i>v 0.1.0</i> | Technologies used : Symfony 3, Bootstrap 3, Bower, Composer, jQuery, vis.js</p>
    <p>
      <a href="http://www.umontpellier.fr/" target=_blank><img src="{{ asset('bundles/chemical/images/um.png') }}" alt="umontpellier" width=5%></a> |
      <a href="http://www.telecom-montpellier.fr/" target=_blank><img src="{{ asset('bundles/chemical/images/tic.jpg') }}" alt="telecom-montpellier" width=4%></a> |
      <a href="http://sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/bcd/" target=_blank><img src="{{ asset('bundles/chemical/images/bcd.png') }}" alt="Master bcd" width=6%></a>
    </p>
</footer>
