 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="{{ path('chemical_homepage') }}">Molecules IT <span class="glyphicon glyphicon-tint"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('chemical_homepage') }}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chemicals<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- Ajouter l'appel vers la page listant les éléments, puis les autres -->
                <li><a href="{{ path('chemical_element_list') }}">Elements</a></li>
                <li><a href="{{ path('chemical_atom_list') }}">Atoms</a></li>
                <li><a href="{{ path('chemical_molecule_list') }}">Molecules</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data providers<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('create_Sample_Elements_From_Web_service') }}">Chemical elements creation</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
              <ul class="dropdown-menu">

                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                  <li><a href="{{ path('fos_user_profile_show') }}">My profil</a></li>
                  <li><a href="{{ path('fos_user_security_logout') }}" >Logout</a></li>

                  {% if is_granted('ROLE_ADMIN') %}
                      <li><a href="{{ path('managing_user_list') }}" >List of Members</a></li>
                  {% endif %}

                {% else %}
                  <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                  <li><a href="{{ path('fos_user_registration_register') }}">Register </a></li>
                {% endif %}
              </ul>
            </li>


        </div><!--/.nav-collapse -->
      </div>
    </nav>
