{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> login{%endblock %}

{% block body %}


  {% block fos_user_content %}
      {% trans_default_domain 'FOSUserBundle' %}

      <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
      {% if targetUrl %}
      <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
      {% endif %}
  {% endblock fos_user_content %}
{% endblock body%}
