{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> ChangePassword{%endblock %}

{% block body %}
  {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
  {% endblock fos_user_content %}
{% endblock %}
