{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> login{%endblock %}

{% block body %}

  {% block fos_user_content %}
      {{ include('FOSUserBundle:Security:login_content.html.twig') }}

  {% endblock fos_user_content %}

{% endblock %}
