{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> Resetting{%endblock %}

{% block body %}

{% block fos_user_content %}
  {% trans_default_domain 'FOSUserBundle' %}

  <p>
    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
  </p>
  {% endblock %}
{% endblock %}
