{% extends 'base.html.twig' %}

{% block title %} {{parent() }}> Resetting{%endblock %}

{% block body %}

  {% block fos_user_content %}
      {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
  {% endblock fos_user_content %}
{% endblock %}
