{% block flashbag %}
    <!-- Ajouter le code pour afficher les messages flashbag. ->
    {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
    {% endif %}
{% endblock %}
