<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  <div class="form-group">
		{# Génération du label. #}
		{{ form_label(form.name, "Name", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		{# Affichage des erreurs pour ce champ précis. #}
		{{ form_errors(form.name) }}

		<div class="col-sm-4">
		  {# Génération de l'input. #}
		  {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>
  </div>

  <div class="form-group">
		{# Génération du label. #}
		{{ form_label(form.formula, "formula", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

		{# Affichage des erreurs pour ce champ précis. #}
		{{ form_errors(form.formula) }}

		<div class="col-sm-4">
		  {# Génération de l'input. #}
		  {{ form_widget(form.formula, {'attr': {'class': 'form-control'}}) }}
		</div>
  </div>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

	</div>
