<link rel="stylesheet" href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" />
<!--  <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css"> -->
      <!-- cerulean superhero flatly journal simplex spacelab -->
